@media (max-width: 768px){

    nav{
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .nav-list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .stick{
        display: none;
    }
    .heder{
        flex-direction: column;
        text-align: center;
      
        img{
            width: 180px;
        }
    }
    .head-text{
        font-size: 15px;
        width: 150px;
    }
    .infa{
        img{
            width: 100px;
            height: 100px;
        }
    }
    .forme{
        h1{
            text-align: unset;
        }
    }
    .row{
        flex-direction: column;
    }

    .proj-all{
        flex-direction: column;
        
    }

    .proj{
        width: 90%;

    }
}
